body
{
   font-family:'Courier New';
   background-color:#0059ff; 
   text-align: center;
}

a
{
    text-decoration: none;
    color:black;
    background-color: lavender;
    padding: 10px;
}

table
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 1px solid black;
}

td
{
    padding: 10px;
    border: 1px solid black;
}

img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3
{
    text-align: center;
}